.container{
    position:relative;
    display:flex;
    flex-direction: column;
    gap:5px;
    margin-bottom:35px;
}

.people{
    position:absolute;
    left:3%;
    top:55%;
}

.span{
    color:red;
    font-size:14px;
    font-weight:bold;
    position:absolute;
    right:0;
}


@media screen and (min-width:1200px){

    .container{
        align-items: center;
        justify-content: center;
    }

    .people{
        left:23%;
    }
     
}