@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Space Mono', monospace;
  background-color: hsl(185, 41%, 84%);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.main-container{
  padding: 30px;
  background-color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top:30px;
}

.logo{
  display:block;
  margin-left:140px;
  margin-top:50px;
}

input{
  padding: 8px;
  border:none;
  background-color: #F3F9FA;
  font-size:18px;
  font-family: 'Space Mono', monospace;
  text-align:right;
  color:hsl(183, 100%, 15%);
  font-weight: bold;
  border-radius: 5px;
}

@media screen and (min-width: 1200px){
  .main-container{
    margin:0 300px;
    margin-top:50px;
  }

  .logo{
   margin:0 auto;
   margin-top:50px;
  }

  input{
  width:350px;
  display:block;
  }
}